<div class="Index">
	<div class="Teaser Container">
		{{#each model as |item|}}
			{{#link-to 'detail' item class="Teaser-wrap lazyload"}}
				<figure class="Teaser-media">
					<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{item.acf.thumbnail.sizes.medium}} 320w, {{item.acf.thumbnail.sizes.medium_large}} 1000w">
				</figure>
				<div class="Teaser-body">
					<h2 class="Teaser-title Link">{{item.title}}</h2>
					<ul class="Teaser-categories">
						{{!-- {{#each item.categories as |category|}}
							{{#link-to "index"}}{{category.name}}{{/link-to}}
						{{/each}} --}}
						<p>{{{item.acf.cooperation}}}</p>
					</ul>
					{{!-- <ul class="Teaser-tags">
						{{#each item.tags as |tag|}}
							<li>
								<i class="icon-{{tag.name}}" data-grunticon-embed><span>{{tag.slug}}</span></i>
							</li>
						{{/each}}
					</ul> --}}

				</div>
			{{/link-to}}
		{{/each}}
	</div>
</div>
