<div class="Index">
	<div class="Teaser Container">
		{{#each model as |item|}}
{{!-- 			{{#link-to 'detail' item class="Teaser-wrap lazyload"}}
			{{/link-to}} --}}
			<a href="{{item.acf.url}}" target="blank" class="Teaser-wrap lazyload">
				<figure class="Teaser-media">
					<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{item.acf.thumbnail.sizes.medium}} 320w, {{item.acf.thumbnail.sizes.medium_large}} 1000w">
				</figure>
				<div class="Teaser-body">
					<h2 class="Teaser-title Teaser-link">{{item.title}}</h2>
					<p class="Teaser-coop">{{{item.acf.cooperation}}}</p>
					<p class="Teaser-technologies">{{{item.acf.tools}}}</p>
				</div>
			</a>
		{{/each}}
		<a href="mailto:mail@kimberlygessner.com" class="Teaser-wrap Teaser-wrap--last lazyload">
			<figure class="Teaser-media"></figure>
			<p class="Teaser-link">More projects on request.</p>
		</a>
	</div>
</div>
