{{#link-to 'index' class="Button--back"}}&lsaquo; back{{/link-to}}

<div class="Detail Detail--{{{model.slug}}}" style="background-color: {{model.acf.color}}">
	<div class="Detail-wrap parallax-window" data-parallax="scroll" data-image-src="/assets/images/donut.jpg">
		{{#scrolling-devices}}
			<div class="Device Device--mobile lazyload">
				<iframe src="{{{model.acf.url}}}" frameborder="0" scrolling="auto"></iframe>
			</div>
		{{/scrolling-devices}}
		<div class="DetailBody lazyload">
			<h2>{{{model.title}}}</h2>
			<p>{{{model.content}}}</p>
		</div>
		{{#scrolling-devices}}
			<div class="Device Device--tablet lazyload">
				<iframe src="{{{model.acf.url}}}" frameborder="0" scrolling="auto"></iframe>
			</div>
		{{/scrolling-devices}}
	</div>

	{{outlet}}
</div>
